:root{
    /* COLOR VARIABLES */
    --color-primary: rgb(247, 191, 184);
    --color-primary-dark: rgb(186, 101, 104);
    --color-secondary: rgb(144, 218, 184);
    --color-secondary-dark: rgb(47, 107, 99);
    --color-secondary-darker: rgb(25, 59, 55);
    --color-grey-light-1: rgb(249, 247, 246);
    --color-grey-light-2: rgb(218, 197, 186);
    --color-grey-dark-1: rgb(77, 64, 50);

    /* FONT VARIABLES */
    --font-primary: 'Outfit', sans-serif;
    --font-display: 'Noto Serif', serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    font-weight: normal;
    line-height: 1.6;
    padding: 0 5rem;
}

.container {
    display: grid;
    grid-template-rows: 8vh min-content repeat(6, min-content);
}

@media only screen and (max-width: 1450px) {
    body {
        padding: 0
    }
}