/* .header {
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8), 
        rgba(247,191,184, .8)),
        url(/img/flower.jpg);
    background-size: cover;
} */

.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    place-items: center;
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8), 
        rgba(247,191,184, .8)),
        url(/img/flower.jpg);
    background-size: cover;
}

.header-intro {
    width: 43rem;
    margin:  20rem 0;
}

.header-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img {
    width: 35rem;
    margin: 20rem 0;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0, .5);
}

@media only screen and (max-width: 999px) {
    .header-intro {
        text-align: center;
        margin: 5rem 0 0 0;
    }

    .header-img {
        width: 25rem;
        margin: 5rem 0;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgb(0, 0, 0, .5);
    } 
}

@media only screen and (max-width: 500px) {
    .header {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
    
    .header-intro {
        width: 26rem;
    }

    .header-img {
        width: 20rem;
    }
}