.navbar {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-items {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar-link {
    position: relative;
    display: block;
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 400;
}

.navbar-link,
.navbar-link::after,
.navbar-link::before {
  transition: all .5s;
}

.navbar-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: var(--color-secondary-dark);
  height: 1px;
}

.navbar-link:hover {
    color: var(--color-secondary-dark);
    width: 100%;
}

.navbar-link:hover::after {
    width: 100%;
}

.close-menu, .open-menu {
    color: var(--color-secondary);
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

.close-menu {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.navbar-check {
    display: none;
}

@media only screen and (max-width: 950px) {
    .navbar-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: white;
        transform: all .3s ease-in-out;
    }

    .close-menu, .open-menu {
        display: block;
    }

    #check:checked ~ .navbar-items {right: 0;}
}

/* MOVING UP HOVER STYLE*/
/* .navbar-link:hover {
    transform: translateY(-2px);
    font-weight: 700;
} */

/* .navbar-link:active {
    font-weight: 700;
} */