.navigation {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.logo {
    display: flex;
    align-items: center;
}

.navigation-container {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navigation-link {
    position: relative;
    display: block;
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 400;
}

.navigation-link,
.navigation-link::after,
.navigation-link::before {
  transition: all .5s;
}

.navigation-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: var(--color-secondary-dark);
  height: 1px;
}

.navigation-link:hover {
    color: var(--color-secondary-dark);
    width: 100%;
}

.navigation-link:hover::after {
    width: 100%;
}

.toggle-menu {
    display: none;
}

/* @media only screen and (max-width: 412px) {
    .navigation-container {
        display: none; 
    }
    
    .toggle-menu {
        display: block;
    }
} */
  
/* MOVING UP HOVER STYLE*/
/* .navigation-link:hover {
    transform: translateY(-2px);
    font-weight: 700;
} */

/* MOVING UP HOVER STYLE*/
/* .navigation-link:active {
    font-weight: 700;
} */



@media only screen and (max-width: 950px) {
    .navigation-container {
        display: none; /* navigációs elemek elrejtése */
    }
    
    .toggle-menu {
        display: block; /* gomb megjelenítése */
    }
}