.section-projects {
/*     background-color: var(--color-grey-light-1); */
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, .8), 
        rgba(249, 247, 246, .8)),
        url(/img/ladybug.jpg);
    background-size: cover;
    padding: 10rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.project-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    grid-gap: 5rem;
    justify-content: center;
    align-content: center;
    place-items: center;
}

.project-card {
    position: relative;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;

    max-width: 33rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .5);

}

.project-img {
    height: 21rem;
    width: 100%;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.project-img-mobile {
    position: absolute;
    width: 55%;
    bottom:0;
    right:0;
    z-index: -1;
/*     transform: rotate(45deg);
    transform-origin: 100% 100%; */
    transition: all 0.3s ease;
}

.project-card:hover .project-img-mobile {
    transform: rotate(25deg);
    transform-origin: 100% 100%;
    bottom:0;
    right:0;
    z-index: 1;
}

 @media only screen and (max-width: 1650px) {
    .project-container {
        grid-template-columns: repeat(2, minmax(45rem, 1fr));
        gap: 8rem;
    }

    .project-card {
        max-width: 43rem;
    }

    .project-img {
        height: 30rem;
    }

    .project-img-mobile {
        width: 55%;
    }
}

/*EXPANDING CARD VERSION*/
/*.project-img-mobile {
    transform: rotate(45deg);
    transform-origin: 100% 100%; 
}* /

/*EXPANDING CARD VERSION*/
/*  .project-container {
    height: 100%;
    display: flex;
    gap: 12rem;
    align-items: center;
    justify-content: space-between;
} */

/*EXPANDING CARD VERSION*/
/* .project-description {
    max-height: 0;
    overflow: hidden;
    transition: all .2s ease;
} */

/*EXPANDING CARD VERSION*/
/* .project-card:hover .project-description {
    max-height: 100%;
    overflow: visible;
} */

