.section-projects {
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, .8), 
        rgba(249, 247, 246, .8)),
        url(/img/ladybug.jpg);
    background-size: cover;
    padding: 10rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.project-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    grid-gap: 5rem;
    justify-content: center;
    align-content: center;
    place-items: center;
}

.project-card {
    position: relative;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    width: 33rem;
    height: 58rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .5);

}

.project-description {
    padding: 0 5rem;
}

/* 3:2 */
.project-img {
    height: 22rem;
    width: 33rem;
    background-size: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.project-img-1 {
    background-image: url(../img/projects/coffeeZones_formed_01.PNG);
}

.project-img-2 {
    background-image: url(../img/projects/wonders.PNG);
}


.project-img-3 {
    background-image: url(../img/projects/kidScape_01_formed.png);
}


.project-img-4 {
    background-image: url(../img/projects/techGuard_01_formed.png);
}


.project-img-mobile {
    position: absolute;
    width: 55%;
    bottom:0;
    right:0;
    z-index: -1;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.project-card:hover .project-img-mobile {
    transform: rotate(25deg);
    transform-origin: 100% 100%;
    bottom:0;
    right:0;
    z-index: 1;
}

@media only screen and (max-width: 500px) {
    .project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-card {
        width: 30rem;
        height: 52rem;
    }

    .project-img {
        height: 20rem;
        width: 30rem;
    }

    .project-description {
        padding: 0 2.5rem;
    }

    .project-card:hover .project-img-mobile {
        transform: translateX(5rem);
        transform-origin: bottom right;
        z-index: 1;
    }
}

@media only screen and (max-width: 500px) {
    .project-container {
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    }
    
    .project-card {
        width: 27rem;
        height: 52rem;
    }

    .project-img {
        height: 18rem;
        width: 27rem;
    }
}

/*EXPANDING CARD VERSION*/
/*.project-img-mobile {
    transform: rotate(45deg);
    transform-origin: 100% 100%; 
}* /

/*  .project-container {
    height: 100%;
    display: flex;
    gap: 12rem;
    align-items: center;
    justify-content: space-between;
} */

/* .project-description {
    max-height: 0;
    overflow: hidden;
    transition: all .2s ease;
} */

/* .project-card:hover .project-description {
    max-height: 100%;
    overflow: visible;
} */