.section-values {
    
/* background-image: url(/img/rose.jpg); */
/* background-color: rgba(249, 247, 246, .8); */
    background-image: linear-gradient(
        to right bottom,
        rgba(249, 247, 246, .8), 
        rgba(144, 218, 184, .8)),
        url(/img/rose.jpg);
    background-size: cover;
    padding: 10rem 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.values {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
}

.value {
    background-color: rgb(255, 255, 255, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    border-radius: 2px;
}

.value-icon {
    display: inline-block;
    font-size: 3.5rem;
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-dark));
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 2rem;;
}

@media only screen and (max-width: 1850px) {
    .values {
        grid-template-columns: repeat(3, minmax(20rem, 1fr));
        grid-gap: 8rem;
    }

    .value {
        padding: 3rem;
    }
}