body{
    /*  background-image: url('backgound/splash-acrylic.png'); */
       background-image: url('backgound/clouds.jpg');
       background-size: auto;
       background-repeat: no-repeat; /* A háttér nem ismétlődik. */
       background-attachment: fixed; /* A háttér lefixálása. */
       font-family: 'Oxygen', sans-serif;
       overflow-y:scroll; /* Mindig megjeleníti a csúszkát függetlenül attól, hogy van-e tartalom */
       @media print {
           background-image: none; /* Ha nyomtatni szeretném az oldalt, leveszi a hátteret. */
       }
   }

.container{
    /* background-color: aquamarine; */
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.header{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    height: 150px;
}

.menu{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.stripe{
    background-color: black;
    width: 1100px;
    height: 2px;
}

.buttonHolder{
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 370px;
}

.myButtons{
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    flex-direction: row;
    justify-content: center; /* vízszintesen rendez */
    align-items: center;
    /* width: 300px; */
    width: 35px;
    height: 35px;
    margin: 8px;
    border-radius: 50px;
}

.myButtons:hover{
width: auto;
}


.fas{
margin: 7px;
font-size: 22px;
color: black;
}

.fab{
    margin: 11px;
    font-size: 22px;
    color: black;
}

.buttonTitle{
    display: flex;
    align-items: center; /* függőlegesen rendez */
    overflow: hidden;
    height: 35px;
    font-size: 14px;
    
}

#subscribe{
    width: 120px;
}

#facebook{
    width: 160px;
}

#at{
    width: 220px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.pictureHolder{
    display: flex;
    width: 900px;
    margin: 50px;
    box-shadow: 0 25px 50px 0;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.picture{
    width: 900px;
}

.textHolder{
    position: absolute;
    bottom: 0px;
    width: 900px;
    background-color: rgba(0, 0, 0, 0.479);
}

.text{
    margin: 15px;
    color: white;
}

.questionmark{
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#helpIcon{
    color: rgba(0, 0, 0, 0.562);
    font-size: 40px;
}

.backbutton{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius:50%;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 18px;
}

#back{
    color: white;
    text-decoration: none; 
}

