/* HEADER STYLE */

.headercontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header{
    align-items: center;
}

.title{
    display: flex;
    font-family: 'Gloria Hallelujah', cursive;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 55px;
    flex-grow: 1;
    height: 120px;
    background-image: url('numbers.jpg');
    border-radius: 5px;
    margin:0;
}

.headerstripe{
    height: 5px;
    margin: 0 20px;
    border-radius: 5px;
    background-color: #8CC3C8;
    flex-grow: 3;
}

/* STYLE */

.box{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
}

/* CONTENT STYLE */

.websiteDescriptions{
    background-image: url('confetti.jpg');
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ARTICLE STYLE */

.sectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem;
    width: 60%;
}

.article{
    height: 15rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    background-color: hwb(221 17% 62% / 0.301);
    border-radius: 5px;
}

/* IMAGE STYLE */

.hobbyProject{
    height: 17rem;
    width: auto;
    margin: 0 2rem;
    border: solid;
    border-color: hwb(17 6% 11%);
    border-radius: 5px;
}

.hobbyProject:hover{
    border-color: hwb(221 17% 62%);
}

/* RESPONSIVE STYLE */

@media only screen and (max-width: 800px) { /* 1024px */

    .sectionContainer{
        flex-direction: column;
    }

    .article{
        width: 20rem;
        margin: 1rem;
    }
    
    .hobbyProject{
        height: auto;
        width: 24rem;
    }
  }