.headercontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: auto;
}

.headre{
    align-items: center;
}

.title{
    display: flex;
    font-family: 'Gloria Hallelujah', cursive;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 55px;
    flex-grow: 1;
    height: 120px;
    background-image: url('numbers.jpg');
    border-radius: 5px;
    margin:0;
}

.headerstripe{
    height: 5px;
    margin: 0 20px;
    border-radius: 5px;
    background-color: #8CC3C8;
    flex-grow: 3;
}

.worklink{
    font-family: 'Montserrat', sans-serif;
    margin-top:30px;
    background-image: url('confetti.jpg');
    height: 1500px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

li{
    margin:10px;
}