@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0; /* this makes the text invisible (total transparent) */
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1; /* in this way the text will be visible */
    transition: opacity 0.3s ease-in 0.4s;   
}

/* in the screen is small -> it will be displayed only 3 card */
/* this effects will be used only if the screen is under the value of "max-width" */
@media(max-width: 480px) {
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-last-of-type(5) {
        display: none;
    }
}