body{
 margin: 0;
 text-align: center;
 color: #40514E;
}

.top-container{
background-color: #E4F6F5;
display: flex;
}

.top-content{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.top-cloud{
    position: absolute;
    top: 5px;
    right: 25px;
}

.cloud-img{
    width: 200px;
    height: auto;
}

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Allison', cursive;
    color: #66BFBF;
} 

/*Innentől nem használok flexet, csak régimódian pozicionálok. */

/* Hogy dinamikus weboldalt készítsünk, a méretezést érdemes megadni %-ban*/
/* Betűméretnél a 100% 16px-nek felel meg. -> 75/16 = 4,6875 =>> 468,75%*/
/* Ugyanígy dinamikus weboldal készítéséhez használatos betűméret megadására az em*/
/* 1em = 16px = 100% */
/* Ha így méretezünk, akkor a gyerek mindig megörökli a szülő méreteit is, és az 
hozzáadódik ahhoz, amit mi megadtunk neki. Pl.: a body font-size 2em, a h1 font-size 3em,
akkor a végeredmény az lesz, hogy a h1 2em+3em méretű lesz. Ezt úgy lehet elkerülni, ha
nem em-et használnunk, hanem rem-et. Ez a legajánlottabb betűméretezési forma. */
h1{
    margin: 0;
    font-size: 4.6875rem;
    font-weight: normal;
}

.padavan{
    line-height: 0;
    margin: 0;
    font-size: 2.8125rem;
    font-family: 'Allison', cursive;
    font-weight: normal;
}

.pro{
    font-weight: bold;
}

.bottom-cloud{
    position: absolute;
    top: 150px;
    left: 15px;  
}

.mountain{
    width: 800px;
    height:auto
}

#mountain-img{
    width: 800px;
    height:auto; 
}

/*.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}*/
.profile{
    width: 50%;
    margin: 80px auto 80px auto;
    line-height: 1.5;
}

#profil-img{
    width: 20%;
}

.hy{
    margin: 15px 0 30px 0;
}

.my-journey{
    margin-bottom: 100px;
}

hr{
    border: dotted #b6c2c2 6px;
    border-bottom: none;
    width: 4%;
}

h2{
    font-family: 'Allison', cursive;
    font-size: 2.8125rem;
    color: #66BFBF;
}

.my-skills{
    margin-bottom: 0;
    margin-top: 100px;
}

.skill-row{
    width: 50%;
    margin: 80px auto 80px auto;
    text-align: left;
    line-height: 1.5;
}

h3{
    font-family: 'Electrolize', sans-serif;
    color: #66BFBF;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

#code-giphy{
    display: block;
    float: left;
    margin-right: 20px;
}

#multi-mom-img{
    width: 27%;
    float: right;
    margin-left: 0px;
}

.contact-me{
    width: 50%;
    margin: 80px auto 80px auto;
    line-height: 1.5;
}

.contact-message{
    margin: 40px auto 60px;
}

/* https://cssbuttoncreator.com/ */
.btn {
    margin-top: 60px;
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Electrolize', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 19px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    text-decoration: none;
 }

 .bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
 }

 a{
    color: #11999E;
    font-family: 'Electrolize', sans-serif;
    margin: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
 }

 a:hover{
    color: #E4F6F6; 
 }

 .copyright{
    color: #E4F6F6;
    size: 0.65rem;
    padding: 20px 10px
 }